:root {
  --primary-color: rgb(220, 95, 71);
  --secundary-color: #03a9f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url('./assets/bg01.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box {
  width: 400px;
  padding: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .8) 50%,  rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, .7) 100%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .inputBox {
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: var(--primary-color);
  font-size: 12px;
}
.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}